<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548074330286-fdv970hlguufvi0au81np3j0mq3e2sa6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548074330286-fdv970hlguufvi0au81np3j0mq3e2sa6</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ0ELticpxn7HNGO8GhnH2vllR82fN4sg</string>
	<key>GCM_SENDER_ID</key>
	<string>548074330286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.erikbye.What-Now</string>
	<key>PROJECT_ID</key>
	<string>what-now-cea02</string>
	<key>STORAGE_BUCKET</key>
	<string>what-now-cea02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548074330286:ios:038b8482ae0beee7</string>
	<key>DATABASE_URL</key>
	<string>https://what-now-cea02.firebaseio.com</string>
</dict>
</plist>